// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Variables
$primary-color: #5063c7;
$secondary-color: #f9f9f9;
$lighter-blue-color: #6579dd;
$light-blue-color: #a7b4f7;
$notification-color: #67ee4c;
