// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Variables
$primary-color: #5063c7;
$secondary-color: #f9f9f9;
$lighter-blue-color: #6579dd;
$roboto: 'Roboto', sans-serif;

// Global Styles
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 250ms ease;
}

input {
    border: 1px solid #333;
    outline: none;
}

ul {
    list-style: none;
}

.app {
    display: flex;
    @media (max-width: 960px) {
        .connected-users {
            width: 250px;

            h2 {
                font-size: 1.5rem;
            }

            & > .connected-user {
                img {
                    width: 45px;
                    height: 45px;
                }

                span {
                    font-size: 0.9rem;
                }
            }
        }

        & > .messages {
            width: calc(100vw - 250px);

            .message p {
                font-size: 0.9rem;
            }
        }
    }

    @media (max-width: 720px) {
        & > .messages {
            form {
                input {
                    width: 75%;
                    font-size: 1.1rem;
                }

                button {
                    width: 25%;
                    font-size: 1rem;
                }
            }
        }
    }
}

.scrollable {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 8px;
    }
}

:export {
    primary-color: $primary-color;
    secondary-color: $secondary-color;
    lighter-blue-color: $lighter-blue-color;
    roboto: roboto;
}
